* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

header {
  padding-top: 100px;
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url('arturo-rey-5yP83RhaFGA-unsplash.jpg');
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
}







header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 300px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}


@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

   
}
* {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
    float: left;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
    float: left;
  }
a{
    text-decoration: none;
color: #555;
}    
p{
    color: #555;
}    
.container{
max-width: 1300px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;

    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.header{
    background: radial-gradient(#fff, #dcdcdc);
}
.header .row {
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    border-radius: 2px;
    border-color: black;
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    border: .1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-left: 10px;
}
.col-4:hover{
    transform: scale(1.1);
}

.col-4 img{
    width: 100%;
}
.blok{
    height: 200px;
    
}.btn {
    background: #ff1e00;
    background-image: -webkit-linear-gradient(top, #ff1e00, #000000);
    background-image: -moz-linear-gradient(top, #ff1e00, #000000);
    background-image: -ms-linear-gradient(top, #ff1e00, #000000);
    background-image: -o-linear-gradient(top, #ff1e00, #000000);
    background-image: linear-gradient(to bottom, #ff1e00, #000000);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 0px 1px 3px #666666;
    -webkit-box-shadow: 16px 0px 7px #666666;
    -moz-box-shadow: 16px 0px 7px #666666;
    box-shadow: 16px 0px 7px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #e9fa00;
    background-image: -webkit-linear-gradient(top, #e9fa00, #ff0000);
    background-image: -moz-linear-gradient(top, #e9fa00, #ff0000);
    background-image: -ms-linear-gradient(top, #e9fa00, #ff0000);
    background-image: -o-linear-gradient(top, #e9fa00, #ff0000);
    background-image: linear-gradient(to bottom, #e9fa00, #ff0000);
    text-decoration: none;
  }
  

  .container {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
 }
  h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
 }
  .text-uppercase {
    text-transform: uppercase;
 }
  .text-white {
    color: #fff;
 }
  .text-center {
    text-align: center;
 }
  .mt-4 {
    margin: 0;
    margin-top: 1.5rem;
 }
  .bg-footer {
    bottom: auto;
    background-color: #33383c;
    position: absolute;
    width: 100%;
 }
  .footer-heading {
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
 }
  .footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    list-style: none;
 }
  .footer-link a {
    color: #acacac;
    line-height: 40px;
    font-size: 16px;
    transition: all 0.2s;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
 }
  .footer-link a:hover {
    color: #e0952e;
 }
  .list-inline {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
 }
  .list-inline-item {
    display: inline-block;
 }
  .list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
 }
  .contact-info {
    color: #acacac;
    font-size: 16px;
 }
  .footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
 }
  .facebook {
    transition: transform 1s ease 0s;
    background-color: #4e71a8;
    color: #fff;
 }
  .twitter {
    transition: transform 1s ease 0s;
    background-color: #55acee;
    color: #fff;
 }
  .instagram {
    transition: transform 1s ease 0s;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: #fff;
 }
 /* HOVER */
  .facebook:hover, .twitter:hover, .instagram:hover {
    transform: rotate(360deg);
 }
  .footer-alt {
    color: #acacac;
 }
  .footer-heading {
    position: relative;
    padding-bottom: 12px;
 }

  @media (min-width: 768px) {
    .container {
      max-width: 720px;
   }
 }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
      width: 100%;
      padding-right: var(--bs-gutter-x, 0.75rem);
      padding-left: var(--bs-gutter-x, 0.75rem);
      margin-right: auto;
      margin-left: auto;
   }
 }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
   }
 }



 
.content-box{
  width: 1000px;
  margin: 80px auto;
}
.content-box h1{
  width: 100%;
  text-align: center;
}
.content-box .content-p{
  width: 100%;
  text-align: center;
  color: #84817a;
}
/* 1000px -246 = 754px / 3 = 251.333333333px*/
.box{
  float: left;
  width: 251.333333333px;
  height: 330px;
  position: relative;
  margin: 50px 40px;
  padding: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0px 9px 10px 5px #B2B2B2;
  z-index: 1;
}
.box1::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #74b9ff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box2::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #55efc4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box3::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #0984e3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box:hover{
  transform: scale(1.1);
}
.box p{
  text-align: start;
  margin: 10px 0;
  color: #84817a;
}
.box button{
  width: 150px;
  height: 40px;
  outline: none;
  border-radius: 30px;
  background: none;
  text-align: center;
  margin-top: 60px;
}
.box1 button{
  color: #74b9ff;
  border: 1px solid #74b9ff;
}
.box2 button{
  color: #00b894;
  border: 1px solid #00b894;
}
.box3 button{
  color: #0984e3;;
  border: 1px solid #0984e3;
}
.box1 button:hover{
  cursor: pointer;
  color: #fff;
  background-color: #74b9ff;;
}
.box2 button:hover{
  cursor: pointer;
  color: #fff;
  background-color: #00b894;;
}
.box3 button:hover{
  cursor: pointer;
  color: #fff;
  background-color: #0984e3;;
}
/* end contact us page */

/* reponsible */
@media (max-width:700px) {
  #container{
      width: 100%;
  }
  #nav-bar{
      width: 100%;
  }
  .link-bar a{
      width: 100px;
  }
  #header{
      width: 100%;
      height: 400px;
  }
  #header img{
      width: 100%;
      height: 100%;
  }
  .letter{
      top: -400px;
      left: 0px;
      width: 500px;
  }
  .letter p{
      font-size: 20px;
      left: 0px;
      font-weight: 700
  }
  #content{
      width: 100%;
  }
  /* 700px - 80 =620px \ 2= 310px */
  .items{
      width: 310px;
      height: 380px;
      margin: 10px;
  }
  .items p{
      margin: 8px;
  }
  .items-it{
      height: 330px;
  }
  #footer{
      width: 100%;
  }
  /* end index reponsible */
  /* start about reponsible */
  .about-content{
      width: 100%;
      margin: 10px auto;
  }
  .left-content{
      width: 100%;
      height: 230px;
      padding: 100px;
      line-height: 40px;
      text-align: justify;
      text-indent: 10px;
  }
  .right-content{
      width: 100%;
      height: 230px;
      margin: 30px auto;
      padding: 10px;
  }
  .right-content img{
      width: 200px;
      height: 100%;
      margin: 5% 35%;
  }
  .founder-div{
      width: 200px;
      display: block;
      margin: 20px 35%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0px 9px 10px 5px #B2B2B2;
  }
  .founder-div a{
      text-decoration: none;
      margin: 0 50px;
  }
  /* end about reponsible */
  /* start customer reponsible */
  .div,.div1{
      width: 100%;
  }
  /* end customer reponsible */
  /* start contact reonsible */
  .content-box{
      width: 100%;
      margin: 80px auto;
  }
  .content-box h1{
      width: 100%;
      text-align: center;
  }
  .content-box .content-p{
      width: 100%;
      text-align: center;
      color: #84817a;
  }
  .box{
      float: inherit;
      margin: 30px auto;
  }
}